.carousel {
	display: flex;
	justify-content: start;
	align-items: center;
	min-width: 100%;
	min-height: 200px;
	gap: 20px;
	overflow-x: auto;
	&__item {
		min-width: 240px;
		min-height: 280px;
	}
}

.card::-webkit-scrollbar {
  display: none;
}