/* Fonts */
@font-face {
    font-family: 'DMSans-Regular';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/DMSans-Regular.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'DMSans-Bold';
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/DMSans-Bold.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Regular';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Raleway-Regular.woff2") format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'PlayfairDisplay-Italic';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/PlayfairDisplay-Italic.woff2") format('woff2');
    font-display: swap;
}
