.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1em;
    &-group {
        display: flex;
        flex-direction: column;

        &_check {
            flex-direction: row;
            gap: 20px;
        }
    }

    &__fieldset {
        border: none;
        position: relative;
    }

    &__legend {
        text-transform: uppercase;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 500;
        line-height: 210%;
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: 1em;
    }

    &__legend::after {
        display: block;
        width: 20px;
        height: 20px;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-left: 2px solid var(--text);
        border-top: 2px solid var(--text);
        transform: rotate(-135deg);
        transition: 0.4s transform;
    }

    &__paragraph {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        font-size: 100%;
    }

    &__paragraph input {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid var(--brown);
    }

    &__paragraph input:checked {
        background: radial-gradient(var(--brown) 50%, var(--white) 50%);
        //background: radial-gradient(red 50%, blue 50%);
    }

    &-input {
        border: 1px solid var(--text);
        border-radius: 5px;
    }

    &__input:checked ~ &__legend::after {
        transform: rotate(45deg);
        top: 16px;
    }

    &__input:checked ~ &__form > &__fieldset {
        height: auto;
    }

    &-label {
        font-size: 0.8em;
    }

    &__label_search {
        display: none;
        font-size: 0;
        line-height: 0;
    }

    &__input-text {
        width: 100%;
        border: 1px solid var(--text);
        padding: 16px;
        border-radius: 35px;
        color: var(--search);
    }
}

@media (min-width: $tv) {
    .form {
        &__input-text {
            padding: 15px;
            font-size: 150%;
        }
    }
}

@media (min-width: $pv) {
    .form {
        &__input-text {
            padding: 16px;
        }

        &__fieldset {
            &_news {
                flex-basis: 60%;
            }
        }
    }
}
