.icon {
    &_logo {
        width: 70px;
        height: 80px;

        &-footer {
            display: none;
        }
    }

    &_menu {
        stroke: var(--text);
    }

    &-menu,
    .button_menu--open &-cross {
        display: block;
    }

    &-cross,
    .button_menu--open &-menu {
        display: none;
    }

    &_ingredients {
        width: 32px;
        height: 32px;
    }

    &_feck {
        width: 117px;
        height: 79px;
    }

    &_share {
        width: 16px;
        height: 16px;
    }

    &_footer {
        width: 20px;
        height: 20px;
    }

    &__button {
        width: 24px;
        height: 24px;
    }
}

@media (min-width: $tv) {
    .icon {
        &_feck {
            width: 237px;
            height: 160px;
        }
    }
}
