.instructions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

@media (min-width: $tv) {
    .instructions {
        gap: 100px;
    }
}

@media (min-width: $pv) {
    .instructions {
        gap: 50px;
    }
}