.list {
    &_header {
        display: none;
    }

    &_header--open {
        display: block;
        padding-left: 22px;
    }

    &_footer {
        display: block;
        margin-top: 1.42em;
    }
}

@media (min-width: $pv) {
    .list {
        &_header {
            display: flex;
            justify-content: flex-end;
            column-gap: 5%;
        }
    }
}
