.tags {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;

    &_main,
    &_search {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    &_news {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    &__item {
        display: inline-block;
        line-height: 1.3;
        padding: 8px 14px;
        border-radius: 25px;
        background-color: var(--main);
        font-size: 80%;

        &_status {
            border: 1px solid var(--green);
        }

        &_articles {
            border: 1px solid var(--brown);
        }
    }
}