.text {
    font-size: 100%;
    line-height: 160%;
    font-weight: 400;
    width: 80%;
    text-align: center;

    &_recepies,
    &_authors,
    &_feck,
    &_steps,
    &_us,
    &_news,
    &_privacy,
    &_history,
    &_dishes,
    &_intro {
        text-align: left;
        width: 100%;
    }

    &_instructions {
        width: 90%;
    }

    &_us {
        margin-bottom: .5em;
    }

    &_history {
        margin-bottom: 1em;
    }

    &_date {
        font-size: 90%;
        grid-column: 3/4;
        grid-row: 3/4;
        font-size: 90%;
        justify-self: end;
    }

    &_promo {
        width: 90%;
    }

    &_emissions {
        text-align: initial;
        position: relative;
    }

    &_emissions::before {
        display: block;
        content: '';
        position: absolute;
        width: 98px;
        height: 68px;
        background-image: url("../img/ellipse-mobile.png");
        background-repeat: no-repeat;
        top: -15px;
        left: -10%;
        z-index: -1;
    }

    &_questions {
        width: 80%;
        overflow: hidden;
        height: 0;
        transition: all .4s;
        text-align: left;
    }

    &_number {
        font-size: 200%;
        text-align: left;
    }

    &_author {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 76%;
        text-align: initial;
    }

    &_mind {
        text-align: left;
        color: var(--white);
    }

    &_review {
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: left;
    }

    &_writer {
        width: 100%;
        text-align: start;
    }
}

@media (min-width: $tv) {
    .text {
        width: 60%;

        &_promo {
            width: 357px;
            font-size: 100%;
        }

        &_history {
            width: 100%;
        }

        &_inst {
            font-size: 125%;
        }

        &_instructions {
            font-size: 125%;
        }

        &_emissions {
            font-size: 150%;
            width: 370px;
        }

        &_date {
            font-size: 90%;
        }

        &_emissions::before {
            display: block;
            content: '';
            position: absolute;
            width: 196px;
            height: 140px;
            background-image: url("../img/ellipse-tablet.png");
            background-repeat: no-repeat;
            top: -40px;
            left: 0;
            z-index: -1;
        }

        &_questions,
        &_author-recepie {
            font-size: 125%;
            width: 80%;
        }

        &_us,
        &_mind,
        &_authors {
            width: 90%;
            text-align: left;
        }

        &_feck,
        &_steps,
        &_recepies,
        &_review,
        &_writer,
        &_privacy,
        &_intro {
            width: 100%;
        }
    }
}

@media (min-width: $pv) {
    .text {
        width: 90%;

        &_promo {
            width: 40%;
            font-size: 125%;
            text-align: left;
        }

        &_emissions {
            width: 508px;
        }

        &_questions {
            flex-basis: 50%;
        }

        &_us {
            font-size: 108%;
            line-height: 1.6;
        }

        &_number {
            font-size: 300%;
            grid-column: 2/3;
            grid-row: 1/2;
        }

        &_steps {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        &_author {
            text-align: left;
        }

        &_review {
            grid-column: 2/3;
        }
    }
}
