* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: contain;
}

p {
    line-height: 1.8;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    //max-height: 100%;
}

input[type="radio"] {
    appearance: none;
}

/* Viewport Sizes*/

/* Mobile viewport 375px */
$mv: 375px;
/* Tablet viewport 768px */
$tv: 768px;
/* PC viewport 1200px*/
$pv: 1200px;
/* Extra large viewport 1500px*/
$extra: 1500px;

/* Container Sizes */

/* Mobile Container*/
$mc: 88%;
/* Tablet Container*/
$tc: 91%;
/* Pc Container*/
$pc: 70%;
/* PC Extra Container*/
$pc-extra: 60%;

/* Colors */
:root {
    --text: rgba(44, 44, 44, 1);
    --main: rgba(115, 159, 61, 0.5);
    --select: rgb(245, 178, 159, 1);
    --green: rgba(177, 226, 117, 1);
    --green-header: rgba(228, 255, 195, 1);
    --green-writer: rgba(183,205,157,1);
    --brown: rgba(249, 200, 168, 1);
    --brown-darkest: rgba(238, 105, 63, 1);
    --white: rgba(252, 253, 254, 1);
    --table: rgba(245, 222, 207, 1);
    --blue: rgba(189, 212, 226, 1);
    --search: rgba(202, 202, 202, 1);
    --link: rgba(0,102,204,1);
    --contents: rgba(255, 240, 231, 1);
    --dishes: rgba(246, 250, 222, 1);
    --dishes-counter: rgba(249, 200, 168, 1);
}
